li {
    list-style: none;
}
.flag-ukr-item-elem1 {
    display: block;
    width: 300px;
    height: 75px;
    background-color: rgb(255, 251, 0);
}

.flag-ukr-item-elem2 {
    display: block;
    width: 300px;
    height: 75px;
    background-color: blue;
}

/* Japan */
.flag-list-item-wrapper {
    position: relative;
}

.flag-jap-item-elem1 {
    display: block;
    width: 300px;
    height: 150px;
    background-color: white;
}

.flag-jap-item-elem2 {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    top: 0;
    transform: translate(92%, 27%);
}

/* IceLand */

.flag-ice-item-elem1 {
    display: block;
    width: 300px;
    height: 150px;
    background-color: rgb(25, 0, 255);
}

.flag-ice-item-elem2 {
    display: block;
    width: 300px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 57px;
}
